.examSelectorContainer {
    width: 70vw;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: left;
    background-color: salmon;
}

.examSelectorUserInterface {
    background: transparent;
    width: 130px;
    color: aqua;
    border: none;
    margin-left: 15px;
}

.examSelectorUserInterface::placeholder {
    color: hotpink;
}

.confirmButtonExamSelector {
    margin-left: 15px
}

.examSelectorUserInterface, .confirmButtonExamSelector {
    opacity: 0;
    transition: opacity .3s ease;
}

.examSelectorIcon {
    position:relative;
}

.examSelectorContainer:hover .examSelectorUserInterface,
.examSelectorContainer:hover .confirmButtonExamSelector {
    opacity: 100%;
    transition: opacity 0s;
}

.examSelectorContainer:hover .examSelectorIcon {
    transition: transform .3s ease;
}

.examSelectorContainer:hover .examSelectorWrapper {
    flex-grow: 3;
    transition: flex-grow .3s ease;
}

.examSelectorIcon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-15%, -50%);
    transition: transform .3s ease;
    z-index: 2;
}

.examSelectorWrapper {
    height: 2em;
    width: 2em;
    flex-grow: 0;
    background: rebeccapurple;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    transition: flex-grow .3s ease;
    overflow: hidden;
    position: relative;
}

.wrapperFlexGrowAnimationHelper {
    flex-grow: 10;
}

.examContentContainer {
    height: auto;
    width: 72vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, .05);
    border-radius: var(--borderRadius);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.codeDisplayWrapper {
    --padding: .35vw;
    width: 70vw;
    height: auto;
    background: dodgerblue;
    border-radius: var(--borderRadius);
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-bottom: .5em;
}

.codeDisplay {
    width: auto;
    height: var(--height, 18px);
    font-family: 'Courier New', Courier, monospace;
}

.taskTitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-top: .5em;
    width: 70vw;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--mainTextColor);
}

.questionWrapper {
    margin-bottom: 1em;
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--mainTextColor);
    margin-top: .5em;
}

.questionLabel {
    padding-right: 1em;
    margin-right: .5em;
    min-width: 2.3em;
    border-right: 2px solid rgb(86, 86, 86);
}
